# Prerequisites
*.d
.asv
/private/

# Personal folder for holding codes
/holding/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
/docs/_build/
/examples/tutorial1/data/*.dat

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# compiled cpp in matlab
*.mexmaca64
*.mexw64
*.mexa64

# Executables
*.exe
*.out
*.app

# DS_STORE for mac users
.DS_Store

# MatLab autosave files
*.asv

*.mat
# temp directory
/temp/*.mat
/temp/*.m
/temp/*.txt
/temp/*.*
/temp/*

# large data
*.dat
*.mat
*.mp3
*.png*.mat
archive/**/tmp_output/
